$border-radius: 5px;

:root {
  --text-color: #fff;
  --text-accent-color: darksalmon;
  --link-color: darkorange;
  --bg-1: #f27121;
  --bg-2: #e94057;
  --bg-3: #8a2387;
  --bg-1-social: #f3a183;
  --bg-2-social: #ec6f66;
  --username-color: cadetblue;
  --terminal-bg: rgba(56, 4, 40, 0.9);
  --terminal-header-bg: #ddd;
}

.container {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  min-height: 100vh;
  background: var(--bg-3); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--bg-1),
    var(--bg-2),
    var(--bg-3)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, var(--bg-1), var(--bg-2), var(--bg-3));

  & > * {
    width: 50%;
  }

  &.dark-mode {
    --text-accent-color: #ffca85;
    --link-color: burlywood;
    --bg-1: #211f20;
    --bg-2: #292d34;
    --bg-3: #213030;
    --bg-1-social: #414141;
    --bg-2-social: #485461;
    --username-color: #858585;
    --terminal-bg: rgb(0 0 0 / 90%);
    --terminal-header-bg: #aaa;
    &.firework {
      --terminal-bg: rgb(0 0 0 / 15%);
    }
  }
}

ul {
  margin: 0;
}
