<header>
  <div class="container">
    <h1 class="logo">Guillaume Barranco</h1>
    <section class="social">
      <a class="btn" href="https://github.com/guillaumebarranco">Github</a>
      <a class="btn" href="https://twitter.com/Webarranco">Twitter</a>
      <a class="btn" href="https://www.linkedin.com/profile/view?id=224191169"
        >LinkedIn</a
      >
      <a class="btn" href="https://www.npmjs.com/~webarranco">NPM</a>
      <a class="btn" href="https://codepen.io/Webarranco">Codepen</a>
    </section>
  </div>
</header>

<div class="container">
  <div id="timeline">
    <app-timeline-item
      *ngFor="let item of _timelineItems; let i = index"
      [title]="item.title"
      [description]="item.description"
      [isJob]="item.isJob"
      [isLeft]="i % 2 === 0"
    ></app-timeline-item>
  </div>
</div>
