<app-menu></app-menu>

<div class="movies-container">
  <h1>Films visionnés ({{ allMovies().length }})</h1>

  <div class="movies-header">
    <app-stats-display
      [stats]="stats()"
      [count]="allMovies().length"
      countLabel="films"
    >
    </app-stats-display>

    <app-sort-dropdown
      [sortOptions]="sortOptions"
      [selectedSort]="selectedSort()"
      (sortChange)="onSortChange($event)"
    >
    </app-sort-dropdown>
  </div>

  <div class="movies">
    @for (movie of sortedMovies(); track `${movie.title}-${movie.releaseDate}`)
    {
    <div class="movie-card">
      <app-movie [movie]="movie"></app-movie>
    </div>
    }
  </div>
</div>
