<div class="movie-card">
  <div class="movie-cover">
    <img [src]="movie.coverUrl" [alt]="movie.title" class="cover-image">
  </div>
  <div class="movie-info">
    <h3 class="movie-title">{{ movie.title }}</h3>
    <p class="movie-director">Réalisé par {{ movie.director }}</p>
    @if (movie.actors && movie.actors.length > 0) {
    <p class="movie-actors">Avec {{ movie.actors[0].name }}{{ movie.actors.length > 1 ? ', ' + movie.actors[1].name : ''
      }}</p>
    }
    @if (movie.length > 0) {
    <p class="movie-length">{{ movie.length }} min</p>
    }
    <p class="movie-release-date">{{ movie.releaseDate | date:'yyyy' }}</p>
    @if (movie.timesWatched > 1) {
    <p class="movie-times-watched">Visionné environ {{ movie.timesWatched }} fois</p>
    }

    @if (movie.timesWatched === 1) {
    <p class="movie-times-watched">Visionné {{ movie.timesWatched }} fois</p>
    }
    <div class="movie-rating">
      <span class="stars">
        <span *ngFor="let star of getRatingStars(movie.rating || 0)" [class]="'star star-' + star.type"></span>
      </span>
      <span class="rating-text">{{ movie.rating }}/5</span>
    </div>
    <!-- <p class="movie-genre">{{ movie.genre }}</p> -->
  </div>
</div>