<app-menu></app-menu>

<div class="series-container">
  <h1>Séries visionnées ({{ allSeries.length }})</h1>

  <div class="series-header">
    <app-stats-display [stats]="stats" [count]="allSeries.length" countLabel="séries">
    </app-stats-display>

    <app-sort-dropdown [sortOptions]="sortOptions" [selectedSort]="selectedSort" (sortChange)="onSortChange($event)">
    </app-sort-dropdown>
  </div>

  <div class="series">
    @for (serie of sortedSeries; track serie.title) {
    <div class="serie-card">
      <app-serie [serie]="serie"></app-serie>
    </div>
    }
  </div>
</div>