<app-menu></app-menu>

<div class="mangas-container">
  <h1>Mangas lus ({{ allMangas().length }})</h1>

  <div class="mangas-header">
    <app-stats-display
      [stats]="stats()"
      [count]="allMangas().length"
      countLabel="mangas"
    >
    </app-stats-display>

    <app-sort-dropdown
      [sortOptions]="sortOptions()"
      [selectedSort]="selectedSort()"
      (sortChange)="onSortChange($event)"
    >
    </app-sort-dropdown>
  </div>

  <div class="mangas">
    @for (manga of sortedMangas(); track manga.title) {
    <div class="manga-card">
      <app-book [book]="manga"></app-book>
    </div>
    }
  </div>
</div>
