$color-triangle: #facc2e;
$blanc: #bbb;
$noir: #222;
$bleu_fonce: #25645d;
$bleu_clair: #008cba;

/*
*	GENERAL
*/

*::selection {
  background-color: black;
  color: $blanc;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }
}

footer {
  border-top: solid 1px white;
  padding: 20px;
  box-sizing: border-box;

  div {
    display: inline-block;
    vertical-align: top;
    width: 20%;

    &.separator {
      width: 58%;
    }

    &.footer-contact {
      text-align: right;
    }
  }
}

/*
*	HOME
*/

.bloc {
  padding: 10px;
  background-color: #333;
  height: 500px;

  h2,
  div {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

canvas {
  z-index: -1;
}

.bloc-one {
  text-align: center;
  width: 100%;
  background-color: #333;
  height: 130px;
  color: black;
  padding: 0;
  position: relative;
  z-index: 1;

  .index {
    z-index: 5;
  }

  p {
    text-align: center;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  & > div {
    width: 30%;
  }
}

.graphic {
  border-left: solid black 1px;
  padding-left: 3px;

  .li-graphic-percent {
    margin-left: 100px;

    .graphic-percent {
      display: inline-block;
      width: 50px;
    }
  }

  .graphic-name {
    display: inline-block;
    width: 75px;
    vertical-align: top;
  }
  .graphic-bar {
    height: 20px;
    background-color: #008cba;
    width: 0px;
    display: inline-block;
  }
}

.img-projet {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.last_project_home {
  margin-bottom: 10px;
  display: block;
  text-align: center;

  img {
    max-height: 200px;
    max-width: 200px;
  }
}

.logo_svg {
  width: 26px;
  height: 49px;
}

.logo_npm {
  width: 26px;
  height: 49px;

  path {
    fill: $blanc;
  }
}

.outer-ring {
  fill: $blanc;
}
.inner-box {
  fill: $blanc;
}

.socials {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 0;

  li {
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    i {
      font-size: 30px;
    }

    a {
      display: block;
      text-align: center;
      color: $blanc;
      background-color: grey;
      padding: 4px;
      border-radius: 50%;
    }
  }
}

.mail {
  display: block;
  width: 62px;
  margin: 0 auto;
}

.myCV {
  padding: 5px;
  border: solid 1px $blanc;
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
  display: block;
}

.download_CV {
  display: block;
  text-align: center;
  margin-top: 10px;
}
