<div class="container dark-mode">
  <div class="terminal">
    <div class="terminal__header"></div>
    <div class="terminal__body">
      <div class="terminal__banner">
        <div class="terminal__author">Guillaume BARRANCO</div>
        <p>
          Bienvenue sur mon site web ! Pour afficher les commandes disponibles
          tapez
          <code>help</code>. Pour valider chaque commande appuyez sur
          <em>Entrer</em>, vous pouvez utiliser la touche
          <em>Tabulation</em> afin de vous aider à compléter une commande.
          <br /><br />
          Vous préférez un site web présentant mon parcours en format non geek,
          tapez <code>notgeek</code>
        </p>
      </div>
      <div id="terminal"></div>
    </div>
  </div>
  <div class="editor" [innerHTML]="getJsonResult()"></div>
</div>
